<launch>
  <!-- (start your robot's MoveIt! stack, e.g. include its moveit_planning_execution.launch) -->
  <!-- (start your tracking system's ROS driver) -->

 <include file="$(find easy_handeye)/launch/publish.launch">
    <arg name="eye_on_hand" value="true"/>
    <arg name="namespace_prefix" value="eye_in_hand"/> <!-- use the same namespace that you used during calibration! -->
  </include>
</launch>
